{% extends "layout.html" %}
{% block title %}Ask question{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <a href="/">AskMate</a>
{#    <a href="/">Back to the forum</a>#}
    <h1>Ask a question:</h1>
    <form action="/add-question" method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br><br>
        <label for="message">Question:</label><br>
        <textarea rows="5" cols="50" id="message" name="message"></textarea><br><br>
        <label for="image">Add image:</label><br><br>
        <input type="file" id="image" name="image"><br><br>
        <button>Add</button>
    </form>
{% endblock %}