{% extends "layout.html" %}
{% block title %}Ask question{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div id="header">
        <a href="/" class="logo">AskMate</a>
        <a href="/" class="menu">Back to the forum</a>
    </div>
    <div id="form">
        <h1>Ask a question</h1>
        <form action="/add-question" method="POST" enctype="multipart/form-data">
            <input type="text" id="title" name="title" placeholder="Title"><br>
            <textarea id="message" name="message" placeholder="Question"></textarea><br>
            <input type="file" id="image" name="image" value="/static"> >
            <label for="image">Add image</label>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}