{% extends "layout.html" %}
{% block title %}Ask a question{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="header">
        <div class="logo">
            <a href="/">AskMate</a>
        </div>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
            </label>
        </div>
        <div class="search">
            <form action="/search">
                <input id="name-input" type="text" name="search" placeholder="Search AskMate" autocomplete="off">
            </form>
        </div>
        {% if 'id' in session %}
            <a href="/user/{{ session['id'] }}" class="username">{{ session['username'] }}</a>
        {% endif %}
    </div>
    <div class="page_body">
        <div class="menu">
            <a href="/">Back</a>
            <a href="/list">Questions</a>
            <a href="{{ url_for('tags_data') }}">Tags</a>
            {% if 'id' in session %}
                <a href="{{ url_for('list_users') }}">Users</a>
                <a href="/add-question" class="active">New question</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('registration') }}">Registration</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>

        <div id="form">
            <h1>Ask a question</h1>
            <form action="/add-question" method="POST" enctype="multipart/form-data">
                <input type="text" id="title" name="title" placeholder="Title" required><br>
                <textarea id="message" name="message" placeholder="Question" required></textarea><br>
                <img id="output"/>
                <input type="file" name="image" id="file" onchange="loadFile(event)">
                <label for="file" style="cursor: pointer;" class="leftbutton">Upload Image</label>
                <input type="submit" value="Submit" class="rightbutton">
            </form>
        </div>
    </div>
{% endblock %}