{% extends "layout.html" %}
{% block title %}Edit comment{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="header">
        <div class="logo">
            <a href="/">AskMate</a>
        </div>
        <div class="search">
            <form action="/search">
                <input id="name-input" type="text" name="search" placeholder="Search AskMate" autocomplete="off">
            </form>
        </div>
        {% if 'id' in session %}
            <a href="/user/{{ session['id'] }}" class="username">{{ session['username'] }}</a>
        {% endif %}
    </div>
    <div class="page_body">
        <div class="menu">
            {% if answer != '' %}
                <a href="/question/{{ answer[0]['question_id'] }}/question">Back</a>
            {% else %}
                <a href="/question/{{ comment[0]['question_id'] }}/question">Back</a>
            {% endif %}
            <a href="/list">Questions</a>
            <a href="{{ url_for('tags_data') }}">Tags</a>
            {% if 'id' in session %}
                <a href="{{ url_for('list_users') }}">Users</a>
                <a href="/add-question">New question</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('registration') }}">Registration</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>

    <div id="form">
        <h1>Edit comment</h1>
        <form action="/comment/{{ comment[0]['id'] }}/edit" method="POST">
            <textarea rows="5" cols="50" id="message" name="message" required>{{ comment[0]['message'] }}</textarea><br>
            <input type="submit" value="Comment">
        </form>
    </div>
{% endblock %}