{% extends "layout.html" %}
{% block title %}Edit question{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="header">
        <div class="logo">
            <a href="/">AskMate</a>
        </div>
        <div class="search">
            <form action="/search">
                <input id="name-input" type="text" name="search" placeholder="Search AskMate" autocomplete="off">
            </form>
        </div>
        {% if 'id' in session %}
            <a href="/user/{{ session['id'] }}" class="username">{{ session['username'] }}</a>
        {% endif %}
    </div>
    <div class="page_body">
        <div class="menu">
            <a href="/question/{{ question_id }}/question">Cancel</a>
            <a href="/list">Questions</a>
            <a href="{{ url_for('tags_data') }}">Tags</a>
            {% if 'id' in session %}
                <a href="{{ url_for('list_users') }}">Users</a>
                <a href="/add-question">New question</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('registration') }}">Registration</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>

        <div id="form">
            <h1>Edit question</h1>
            <form action="/question/{{ question_id }}/edit" method="POST" enctype="multipart/form-data">
                <h4>Title:</h4>
                <input type="text" id="title" name="title" value="{{ question[0]['title'] }}" required>
                <h4>Question:</h4>
                <textarea rows="10" cols="60" required id="message"
                          name="message">{{ question[0]['message'] }}</textarea><br>
                {% if question[0]['image'] != 'None' %}
                    <img src="{{ question[0]['image'] }}" id="output">
                {% endif %}
                <img id="output">
                <input type="file" name="image" id="file" onchange="loadFile(event)">
                <label for="file">Upload Image</label>
                <input type="submit" value="Submit" class="rightbutton">
            </form>
            <form action="/delete/question/{{ question_id }}" method="post"
                  enctype="multipart/form-data" class="button">
                <button type="submit" value="{{ question[0]['image'] }}" name="image" class="rightbutton">Delete image
                </button>
            </form>
        </div>
    </div>
{% endblock %}
