{% extends "layout.html" %}
{% block title %}Edit answer{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <h1>Edit an answer:</h1><br>
    <form action="/answer/{{ answer_id }}/edit" method="POST" enctype="multipart/form-data">
        <strong><label for="message">Answer:</label><br></strong>
        <textarea rows="10" cols="60" id="message" name="message">{{ answer["message"] }}</textarea><br><br>
        <label for="image">Add image:</label><br><br>
        <input type="file" id="image" name="image" value={{ answer["image"] }}><br><br>
        <button>Edit</button>
    </form>
{% endblock %}
