{% extends "layout.html" %}
{% block title %}Edit question{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div id="header">
        <a href="/" class="logo">AskMate</a>
        <a href="/" class="menu">Back to the forum</a>
        <a href="/question/{{ question_id }}" class="menu">Back to the question</a>
    </div>
    <div id="form">
        <h1>Edit question</h1>
        <form action="/question/{{ question_id }}/edit" method="POST" enctype="multipart/form-data">
            <h4>Title:</h4>
            <input type="text" id="title" name="title" value="{{ question[0]['title'] }}">
            <h4>Question:</h4>
            <textarea rows="10" cols="60" id="message" name="message">{{ question[0]['message'] }}</textarea><br>
            <label for="image">Add image:</label>
            <input type="file" id="image" name="image" value="{{ question[0]['image'] }}">
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
