{% extends "layout.html" %}
{% block title %}Edit answer{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="header">
        <div class="logo">
            <a href="/">AskMate</a>
        </div>
        <div class="search">
            <form action="/search">
                <input id="name-input" type="text" name="search" placeholder="Search AskMate" autocomplete="off">
            </form>
        </div>
        {% if 'id' in session %}
            <a href="/user/{{ session['id'] }}" class="username">{{ session['username'] }}</a>
        {% endif %}
    </div>
    <div class="page_body">
        <div class="menu">
            <a href="/question/{{ answer[0]['question_id'] }}/question">Back</a>
            <a href="/list">Questions</a>
            <a href="{{ url_for('tags_data') }}">Tags</a>
            {% if 'id' in session %}
                <a href="{{ url_for('list_users') }}">Users</a>
                <a href="/add-question">New question</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('registration') }}">Registration</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>

    <div id="form">
        <h1>Edit your answer:</h1>
        <form action="/answer/{{ answer_id }}/edit" method="POST" enctype="multipart/form-data">
            <textarea rows="10" cols="60" id="message" name="message" required>{{ answer[0]["message"] }}</textarea><br>
            <label for="image" class="leftbutton">Add image:</label>
            <input type="file" id="image" name="image" value={{ answer[0]["image"] }}>
            <input type="submit" value="Submit" class="rightbutton">
        </form>
    </div>
{% endblock %}
