{% extends "layout.html" %}
{% block title %}Comment edit{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div id="header">
        <a href="/" class="logo">AskMate</a>
        <a href="/question/{{ comment[0]['question_id'] }}" class="menu">Back to the question</a>
    </div>
    <div id="form">
        <h1>Edit comment</h1>
        <form action="/comment/{{ comment[0]['id'] }}/edit" method="POST">
            <textarea rows="5" cols="50" id="message" name="message">{{ comment[0]['message'] }}</textarea><br>
            <input type="submit" value="Comment">
        </form>
    </div>
{% endblock %}