<!doctype html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='even_newer_style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>{% block title %}{% endblock %} | AskMate</title>
    {% endblock %}
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>
