{% extends "layout.html" %}
{% block title %}User list{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="header">
        <div class="logo">
            <a href="/">AskMate</a>
        </div>
        <div class="search">
            <form action="/search">
                <input id="name-input" type="text" name="search" placeholder="Search AskMate" autocomplete="off">
            </form>
        </div>
        {% if 'id' in session %}
            <a href="/user/{{ session['id'] }}" class="username">{{ session['username'] }}</a>
        {% endif %}
    </div>
    <div class="page_body">
        <div class="menu">
            <a href="/">Back</a>
            <a href="/list">Questions</a>
            <a href="{{ url_for('tags_data') }}">Tags</a>
            {% if 'id' in session %}
                <a href="{{ url_for('list_users') }}" class="active">Users</a>
                <a href="/add-question">New question</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('registration') }}">Registration</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>

    <div id="users">
        <table>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Registration date</th>
                <th>Questions</th>
                <th>Answers</th>
                <th>Comments</th>
                <th>Reputation</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="/user/{{ user.id }}">{{ user.username }}</a></td>
                    <td>{{ user.registration_date }}</td>
                    <td>{{ user.count_of_asked }}</td>
                    <td>{{ user.count_of_answers }}</td>
                    <td>{{ user.count_of_comments }}</td>
                    <td>{{ user.reputation }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}