{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="header">
        {% if 'id' in session %}
            <p class="logo">{{ session['username'] }}</p>
        {% endif %}
        <p class="logo">{{ session['username'] }}</p>
        <a href="/" class="logo">AskMate</a>
        <a href="/" class="menu">Back to the forum</a>
    </div>
    <div id="users">
        <table>
            <tr>
                <td>User id</td>
                <td>User name</td>
                <td>Registration date</td>
                <td>Count of asked</td>
                <td>Count of answers</td>
                <td>Count of comments</td>
                <td>Reputation</td>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="/user/{{ user.id }}">{{ user.username }}</a></td>
                    <td>{{ user.registration_date }}</td>
                    <td>{{ user.count_of_asked }}</td>
                    <td>{{ user.count_of_answers }}</td>
                    <td>{{ user.count_of_comments }}</td>
                    <td>{{ user.reputation }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}