{% extends "layout.html" %}
{% block title %}Questions{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="main_page">
        <div id="header">
            <a href="/" class="logo">AskMate</a>
            <a href="/list" class="menu">Questions</a>
            <a href="/add-question" class="menu">New question</a>
            <form action="/search">
                <input id="name-input" type="text" name="search" placeholder="Search AskMate" autocomplete="off">
            </form>
        </div>
        <div class="dropdown">
            <span class="dropdown-button">Sort by</span>
            <div class="dropdown-content">
                <a href="/list?order_by=title&order_direction={{ new_order_dir }}" class="dropdown-link">Title</a>
                <a href="/list?order_by=message&order_direction={{ new_order_dir }}" class="dropdown-link">Message</a>
                <a href="/list?order_by=view_number&order_direction={{ new_order_dir }}" class="dropdown-link">View Number</a>
                <a href="/list?order_by=vote_number&order_direction={{ new_order_dir }}" class="dropdown-link">Vote Number</a>
                <a href="/list?order_by=submission_time&order_direction={{ new_order_dir }}" class="dropdown-link">Most Recent</a>
            </div>
        </div>
        <div id="main_page_list">
            {% for question in questions %}
                <table class="pointer" onclick="document.location = '/question/{{ question.id }}'; ">
                    <tr>
                        <td rowspan="3">
                            <a onclick="event.stopPropagation()"
                                       href="/question/{{ question.id }}/list/vote_up"><img
                                    src="/static/voteup.png" alt="Upvote" width="15"></a>
                            {% if question.vote_number >= 1000000000 %}
                                a lot
                            {% elif question.vote_number <= -1000000000 %}
                                hated
                            {% elif question.vote_number > 1000000 %}
                                {% set proc_err = question.vote_number / 1000000 %}
                                {{ proc_err|int }}M
                            {% elif question.vote_number < -1000000 %}
                                {% set proc_err = question.vote_number / 1000000 %}
                                {{ proc_err|int }}M
                            {% elif question.vote_number > 1000 %}
                                {% set proc_err = question.vote_number / 1000 %}
                                {{ proc_err|int }}K
                            {% elif question.vote_number < -1000 %}
                                {% set proc_err = question.vote_number / 1000 %}
                                {{ proc_err|int }}K
                            {% else %}
                                {{ question.vote_number }}
                            {% endif %}
                            <a onclick="event.stopPropagation()"
                                       href="/question/{{ question.id }}/list/vote_down"><img
                                    src="/static/votedown.png" alt="Downvote" width="15"></a>
                        </td>
                        <td>
                            <p class="light">Viewed {{ question.view_number }} times</p>
                        </td>
                        <td>
                            <p class="light">Posted on {{ question.submission_time }}</p>
                        </td>
                    </tr>
                    <tr>
                         <td colspan="2">{{ question.title }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% if question.message|length > 500 %}
                                {{ question.message[:500] }}...
                            {% else %}
                                {{ question.message }}
                            {% endif %}
                         </td>
                    </tr>
                    {% if question.image != 'None' %}
                        <tr>
                            <td colspan="3">
                                <img src={{ question.image }} alt="image">
                            </td>
                        </tr>
                    {% endif %}
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}