{% extends "layout.html" %}
{% block title %}Questions{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div id="header">
  <a href="/">AskMate</a>
  <a href="/">Questions</a>
  <a href="/add-question" class="button">New question</a>
  </div>
  <div id="main_page">
  <table>
      <tr>
          {% for header in headers %}
              {% if header != headers[0] %}
                  <th><a href="/list?order_by={{ raw_headers[headers.index(header)] }}&order_direction={{ new_order_dir }}">{{ header }}</a></th>
              {% endif %}
          {% endfor %}
      </tr>
  {%  for question in questions %}
       <tr>
           {% for header in question %}
               {% if header != "id" %}
                     {% if header == 'title' %}
                         <td><a href="/question/{{question['id']}}">{{ question[header] }}</a></td>
                     {% elif header == 'image' and question["image"] != "" %}
                         <td><img src={{question["image"]}} alt="image"></td>
                     {% elif header == "vote_number" %}
                         <td width="150"><button><a href="/question/{{ question["id"] }}/list/vote_up"><img
                          src="https://cdn0.iconfinder.com/data/icons/business-glyphs-vol-3-1/52/like__thumbs__up__vote__accept__agree__voteup-512.png", width="15"></a></button>
                          <b>
                              {% if question["vote_number"] > 1000 %}
                                  {{ question["vote_number"] / 1000 }}k
                              {% elif question["vote_number"] < -1000 %}
                                  {{ question["vote_number"] / 1000 }}k
                              {% else %}
                                  {{ question["vote_number"] }}
                              {% endif %}
                          </b>
                          <button><a href="/question/{{ question["id"] }}/list/vote_down"><img
                          src="https://cdn3.iconfinder.com/data/icons/inficons-set-2/512/648981-star-ratings-512.png", width="15"></a></button>
                         </td>
                     {% else %}
                         <td>{{ question[header] }}</td>
                     {% endif %}
               {% endif %}
           {%  endfor %}
       </tr>
  {% endfor %}
  </table>

   </div>
{% endblock %}