{% extends "layout.html" %}
{% block title %}Add comment{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="header">
        <div class="logo">
            <a href="/">AskMate</a>
        </div>
        <div class="search">
            <form action="/search">
                <input id="name-input" type="text" name="search" placeholder="Search AskMate" autocomplete="off">
            </form>
        </div>
        {% if 'id' in session %}
            <a href="/user/{{ session['id'] }}">{{ session['username'] }}</a>
        {% endif %}
    </div>
    <div class="page_body">
        <div class="menu">
            <a href="/question/{{ question_id }}/question">Back</a>
            <a href="/list">Questions</a>
            <a href="{{ url_for('tags_data') }}">Tags</a>
            {% if 'id' in session %}
                <a href="{{ url_for('list_users') }}">Users</a>
                <a href="/add-question">New question</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('registration') }}">Registration</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>

    <div id="form">
        <h1 class="center">{{ question[0]["title"] }}</h1>
        <form action="/question/{{ question_id }}/new-comment" method="POST">
            <textarea rows="5" cols="50" id="message" name="message" placeholder="Your comment..." required></textarea><br>
            <input type="submit" value="Comment">
        </form>
    </div>
{% endblock %}