{% extends "layout.html" %}
{% block title %}Registration{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="header">
        <div class="logo">
            <a href="/">AskMate</a>
        </div>
        <div class="search">
            <form action="/search">
                <input id="name-input" type="text" name="search" placeholder="Search AskMate" autocomplete="off">
            </form>
        </div>
        {% if 'id' in session %}
            <a href="/user/{{ session['id'] }}">{{ session['username'] }}</a>
        {% endif %}
    </div>
    <div class="page_body">
        <div class="menu">
            <a href="/">Back</a>
            <a href="/list">Questions</a>
            <a href="{{ url_for('tags_data') }}">Tags</a>
            {% if 'id' in session %}
                <a href="{{ url_for('list_users') }}">Users</a>
                <a href="/add-question">New question</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('registration') }}">Registration</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>

    <div id="form">
        <h1>Registration</h1>
        <form action="{{ url_for('registration') }}" method="post">
            <input id="username" name="username" type="text" required placeholder="Username"><br>
            <input id="email" name="email" type="email" required placeholder="example@example.com"><br>
            <input id="password" name="password" type="password" required placeholder="Password"><br>
            <input id="password_again" name="password_again" type="password" required placeholder="Password again"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}