{% extends "layout.html" %}
{% block title %}Questions{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="main_page">
        <div id="header">
            <a href="/" class="logo">AskMate</a>
            <a href="/list" class="menu">Questions</a>
            <a href="/add-question" class="menu">New question</a>
            <form action="/search">
                <input id="name-input" type="text" name="search" placeholder="Search AskMate" autocomplete="off">
            </form>
        </div>
    <div id="search_list">
        <h2>Results in questions:</h2>
        {% for question in questions %}
            <table class="pointer" onclick="document.location = '/question/{{ question.id }}'; ">
                <tr>
                    <td rowspan="3">
                        <a onclick="event.stopPropagation()"
                                   href="/question/{{ question.id }}/list/vote_up"><img
                                src="/static/voteup.png" alt="Upvote" width="15"></a>
                        {% if question.vote_number > 1000 %}
                            {% set proc_err = question.vote_number / 1000 %}
                            {{ proc_err|int }}k
                        {% elif question.vote_number < -1000 %}
                            {% set proc_err = question.vote_number / 1000 %}
                            {{ proc_err|int }}k
                        {% else %}
                            {{ question.vote_number }}
                        {% endif %}
                        <a onclick="event.stopPropagation()"
                                   href="/question/{{ question.id }}/list/vote_down"><img
                                src="/static/votedown.png" alt="Downvote" width="15"></a>
                    </td>
                    <td>
                        <p class="light">Viewed {{ question.view_number }} times</p>
                    </td>
                    <td>
                        <p class="light">Posted on {{ question.submission_time }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">{{ question.title }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% if question.message|length > 500 %}
                            {{ question.message[:500] }}...
                        {% else %}
                            {{ question.message }}
                        {% endif %}
                     </td>
                </tr>
                {% if question.image != 'None' %}
                    <tr>
                        <td colspan="3">
                            <img src={{ question.image }} alt="image">
                        </td>
                    </tr>
                {% endif %}
            </table>
        {% endfor %}
        <h2>Results in answers:</h2>
        {% for question, answer in answers %}
            <table class="pointer" onclick="document.location = '/question/{{ question.id }}'; ">
                <tr>
                    <td rowspan="3">
                        <a onclick="event.stopPropagation()"
                                   href="/question/{{ question.id }}/list/vote_up"><img
                                src="/static/voteup.png" alt="Upvote" width="15"></a>
                        {% if question.vote_number > 1000 %}
                            {% set proc_err = question.vote_number / 1000 %}
                            {{ proc_err|int }}k
                        {% elif question.vote_number < -1000 %}
                            {% set proc_err = question.vote_number / 1000 %}
                            {{ proc_err|int }}k
                        {% else %}
                            {{ question.vote_number }}
                        {% endif %}
                        <a onclick="event.stopPropagation()"
                                   href="/question/{{ question.id }}/list/vote_down"><img
                                src="/static/votedown.png" alt="Downvote" width="15"></a>
                    </td>
                    <td>
                        <p class="light">Viewed {{ question.view_number }} times</p>
                    </td>
                    <td>
                        <p class="light">Posted on {{ question.submission_time }}</p>
                    </td>
                </tr>
                <tr>
                     <td colspan="2">{{ question.title }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% if question.message|length > 500 %}
                            {{ question.message[:500] }}...
                        {% else %}
                            {{ question.message }}
                        {% endif %}
                     </td>
                </tr>
                {% if question.image != 'None' %}
                    <tr>
                        <td colspan="3">
                            <img src={{ question.image }} alt="image">
                        </td>
                    </tr>
                {% endif %}
            </table>
    </div>
    <div id="search_answer">
                <table>
                    <tr>
                        <td rowspan="4">
                            <a href="/answer/{{ answer.id }}/vote_up"><img src="/static/voteup.png" alt="Vote up" width="15"></a>
                            {{ answer.vote_number }}
                            <a href="/answer/{{ answer.id }}/vote_down"><img src="/static/votedown.png" alt="Vote down" width="15"></a>
                        </td>
                        <td colspan="3">
                            {% if answer.edit_submission_time != answer.submission_time %}
                                Edit on {{ answer.edit_submission_time }}
                            {% else %}
                                Posted on {{ answer.submission_time }}<br>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p>{{ answer.message }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            {% if answer.image != 'None' %}
                                <img src={{ answer.image }} alt="image" width="200"><br><br>
                            {% endif %}
                        </td>
                    </tr>
                </table>
        {% endfor %}
    </div>
{% endblock %}
</div>
