{% extends "layout.html" %}
{% block title %}Tags{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="header">
        <div class="logo">
            <a href="/">AskMate</a>
        </div>
        <div class="search">
            <form action="/search">
                <input id="name-input" type="text" name="search" placeholder="Search AskMate" autocomplete="off">
            </form>
        </div>
        {% if 'id' in session %}
            <a href="/user/{{ session['id'] }}" class="username">{{ session['username'] }}</a>
        {% endif %}
    </div>
    <div class="page_body">
        <div class="menu">
            <a href="/">Back</a>
            <a href="/list">Questions</a>
            <a href="{{ url_for('tags_data') }}" class="active">Tags</a>
            {% if 'id' in session %}
                <a href="{{ url_for('list_users') }}">Users</a>
                <a href="/add-question">New question</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('registration') }}">Registration</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>

    <h1 class="tag">Tag name and count</h1>
    <div id="tags">
            {% for tag in tags %}
                    <a href="/search/{{ tag.name }}">{{ tag.name }} - {{ tag.count_of_marked }}</a>
            {% endfor %}
        </table>
    </div>
{% endblock %}